body {
    margin: 0;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.line {
    width: 100%;
    height: 8px;
    background: #a292b3;
}

.header {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #545454;
}

.buttons {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.buttons-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-img {
    margin-right: 10px;
}

.slider {
    height: 485px;
    background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.slider-button {
    width: 35px;
    height: 65px;
    background: #a292b3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 32.5px);
}

.button-left {
    left: 0;
}

.button-right {
    right: 0;
    transform: rotate(180deg);
}

.slider-title {
    font-size: 84px;
    margin-bottom: 27px;
    text-shadow: -4px 4px 0 #a292b3;
    font-family: 'Montserrat', sans-serif;
}

.text {
    border-top: 1px solid #82699d;
    border-bottom: 1px solid #82699d;
    padding: 19px 57px;
    text-align: center;
    margin-top: 40px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    /*межстрочные интервалы*/
    font-style: italic;
}

.text-purple {
    color: #82699d;
}

.info {
    display: flex;
    margin-top: 32px;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    box-sizing: border-box;
    align-items: flex-start;
    position: relative;
}

.info-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 33px;
}

.info-desk {
    font-size: 11px;
}

.info-more {
    font-size: 11px;
    position: relative;
    width: 80px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.info-more::after {
    content: "\27A0";
    position: absolute;
    right: 7px;
    top: -7px;
    font-size: 20px;
}

.featured {
    font-size: 18px;
    margin: 55px 0;
}

.clients {
    background: #f5f5f5;
    display: flex;
    height: 70px;
}

.client-items {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-right: none;
}

.client-items:last-child {
    border: 1px solid #e4e4e4;
}